header {
  height: 150px;
  margin: 0 auto;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}

figure {
  width: 116px;
  height: 116px;
  text-align: center;
  margin-left: 100px;
}

figure figcaption {
  font-size: x-large;
}

figure figcaption span {
  position: relative;
  top: -10px;
  font-size: small;
}

figure figcaption::before {
  content: "";
  display: block;
  width: 109px;
  height: 1.1px;
  background-color: black;
}

figure figcaption::after {
  content: "";
  display: block;
  width: 109px;
  height: 1.5px;
  background-color: black;
}

.languages {
  width: 50px;
  height: 116px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  list-style-type: none;
  font-size: 16px;
  font-family: "merriweather";
  margin-right: 100px;
}

.languages li {
  cursor: pointer;
}

.lanIsSelected {
  font-weight: bold;
  color: #1d1d18;
}
.lanIsNotSelected {
  font-weight: bold;
  color: #1d1d18;
  opacity: 50%;
}

/* On screens that are 1200px or less */
@media screen and (max-width: 1200px) {
}

/* On screens that are 992px or less */
@media screen and (max-width: 992px) {
}

/* On screens that are 768px or less*/
@media screen and (max-width: 768px) {
  header {
    height: 100px;
  }
  .languages {
    height: 60px;
  }
  figure {
    width: 58px;
    height: 58px;
    text-align: center;
    position: relative;
    top: -15px;
  }
  figure img {
    width: 58px;
    height: 58px;
  }
  figure figcaption {
    font-size: small;
  }

  figure figcaption span {
    position: relative;
    top: -5px;
    font-size: small;
  }

  figure figcaption::before {
    width: 58px;
  }

  figure figcaption::after {
    width: 58px;
  }
}

/* On screens that are 576px or less*/
@media screen and (max-width: 576px) {
  figure {
    width: 38px;
    height: 38px;
    margin-left: 50px;
  }

  figure img {
    width: 38px;
    height: 38px;
  }

  figure figcaption::before {
    width: 38px;
  }

  figure figcaption::after {
    width: 38px;
  }

  .languages {
    margin-right: 50px;
  }
}
