.Footer {
  width: 100%;
  height: 100px;
  color: black;
  padding: 25px;
  margin-top: 300px;
  text-align: right;
}

.Footer::before {
  content: "";
  display: block;
  height: 3px;
  background-color: #e4e4e4;
  margin-bottom: 20px;
}
